*{
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@font-face{
    font-family: "Font-Awesome";
    src: url("../fonts/FontAwesome.otf");
}
@font-face{
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

:root{
    --themeColor: rgb(7, 71, 166);
}

html,body{
    padding: 0;
    margin: 0;
}

div#app{
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #ffffff;
}
div#app>div{
    width: 50%;
    height: 100%;
    display: block;
    position: relative;
    float: left;
}
div.left{
    background: var(--themeColor);;/* linear-gradient(45deg, rgba(255, 0, 0, 0.8),rgba(255,165,0,1)); */
}

/* Right */
div.right{
    padding: 60px 100px;
}

div.brand{
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}
div.brand>h3{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'OpenSans';
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}
div.brand>h3>a{
    text-decoration: none;
    color: var(--themeColor);
    display: block;
    cursor: pointer;
}
div.todos{
    height: 50px;
    width: 100%;
    position: relative;
    display: block;
    margin: 10px 0px 20px 0;
}
ul{
    width: 100%;
    height: 100%;
    display: block;
    border: 1px solid #cccccc;
}
ul,li{

    list-style: none;
    display: block;
}
ul>li{
    width: 50%;
    height: 100%;
    float: left;
    display: block;
}
ul>li>a{
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    font-family: "OpenSans";
    font-weight: lighter;
    font-size: 20px;
    color: var(--themeColor);;
    background: transparent;
    transition: color , background 300ms;
}
ul>li>a.active,
ul>li>a:hover
{
    background-color: var(--themeColor);
    color: #ffffff;
}

div.forms{
    display: block;
    position: relative;
    height: auto;
    width: 100%;
}
p.error{
    color: #ff0000;
    font-size: 14px;
    font-family: "OpenSans";
    font-weight: lighter;
    text-align: left;
    display: none;
}
p.error.active{
    display: block;

}
div.forms>div>form>div{
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}
div.forms>div>form>div+div{
    margin: 7.5px 0;
}

div.forms>div>form>div>label,
div.forms>div>form>div>input,
div.forms>div>form>div>select{
    width: 100%;
    display: block;
    position: relative;
}


div.forms>div>form>div>label{
    font-weight: lighter;
    font-size: 16px;
    font-family: "OpenSans";
    padding: 5px 0;
    margin: 0;
}

div.forms>div>form>div>input,
div.forms>div>form>div>select{
    height: 40px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    padding: 0 10px;
    outline: none;
}
input[type=checkbox]{
    height: auto !important;
    width: auto !important;
    float: left;
    display: block;
}
div.check{
    margin-top: 15px !important;
    position: relative;
}
div.check>label{
    display: inline !important;
    top: -5px;
    left: 5px;
}
div.forms>div>form>div>input:focus{
    border: 1px solid var(--themeColor);
}

button[type=submit]{
    width: 100%;
    height: 50px;
    position: relative;
    display: block;
    padding: 10px;
    margin: 0;
    outline: none;
    border: none;
    background: var(--themeColor);
    color: #ffffff;  
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
}
span#spinner,
span#spinn{
    display: none;
}
span#spinner.active,
span#spinn.active{
    display: block;
}
div.signUpBtn{
    margin-top: 20px !important
}
p.agree{
    color: #333333;
    font-size: 14px;
    font-family: "OpenSans";
    font-weight: lighter;
}

p.agree>a{
    text-decoration: none;
}

div#loginForm,
div#signUpForm{
    display: none;
}
div#loginForm.active,
div#signUpForm.active{
    display: block;
}