*{
    padding: 0;
    margin: 0;
    position: relative;
    user-select: none;
}

@font-face{
    font-family: "Font-Awesome";
    src: url("../fonts/FontAwesome.otf");
}
@font-face{
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face{
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
@font-face{
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
/* CSS Variables */
:root{
    --themeColor: #000000; /* rgb(7, 71, 166) */
}


html,body{
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
}
a,p,label{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Main Container */
div#main-container{
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    overflow: hidden;
}
div#coverLayer{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    overflow: hidden;
    z-index: 1000;
}
div#coverLayer.active{
    display: block;
}
/* Left Tab */
div#left-tab.theme{
    height: 100vh;
    max-height: 100%;
    /* position: fixed; */
    display: block;
    float: left;
    width: 250px;
    transition: width 300ms;
    background-color: var(--themeColor);
    color: rgb(222, 235, 255);
    box-sizing: border-box;
}
div#left-tab.minimize{
    width: 82px;
    transition: width 300ms;
}
div#left-tab>div.logo{
    width: 100%;
    height: auto;
    padding: 15px 17.5px;
    margin: 0;
    display: block;
    position: relative;
}

div#left-tab>div.logo>a{
    text-decoration: none;
}
div#left-tab>div.logo>a>p{
    color: #ffffff;
    font-weight: lighter;
    font-size: 25px;
    font-family: "OpenSans";
    padding: 0 0 0 37.5px;
    margin: 0;
    text-decoration: none;
    display: block;
    width: auto;
    height: 100%;
    cursor: pointer;
    font-kerning: normal;
    text-decoration: none;
}
div#left-tab>div.logo>a>p.minimize{
    display: none;
}
div#left-tab>div.links{
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    padding: 0;
    margin: 0;
    transition: height 0.5s
}
div#left-tab>div.links ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
div#left-tab>div.links>ul>li{
    height: auto;
    width: 100%;
    display: inline-block;
    padding: 0 9px;
    position: relative;
    transition: all 300ms;
}
div#left-tab>div.links>ul>li+li{
    margin: 2.5px 0;
}
div#left-tab>div.links>ul>li>a{
    width: 100%;;
    height: 100%;
    position: relative;
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    color: #ffffff !important;
    font-size: 14px;
    font-weight: normal;
    font-family: "OpenSans";
    font-kerning: normal;
    cursor: pointer;
}
div#left-tab>div.links>ul>li:hover{
    border-left: 3.5px solid #ffffff; 
} 




/* Multiple Links Styling */
div#left-tab>div.links>ul>li>ul{
    width: 100%;
    height: auto;
    display: none;
    position: relative;/* 
    top: 40px; */
    float: left;
    padding: 2.5px 0px 2.5px 65px;
    margin: 0;
}
ul#extraLinks.active{
    display: block !important;
    position: relative;
}
ul#extraReportLinks.active{
    display: block !important;
    position: relative;
}
ul#extraOfflineLinks.active{
    display: block !important;
    position: relative;
}
div#left-tab>div.links>ul>li>ul>li>a{
    padding: 7.5px 5px;
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    cursor: pointer;
    color: #eeeeee;
    font-size: 13px;
    font-weight: normal;
    font-family: "OpenSans";
    font-kerning: normal;
    text-decoration: none;
}
div#left-tab>div.links>ul>li>ul>li>a:hover{
    background: #ffffff;
    color: rgb(7, 71, 166);
}

/* End of Multiple Links */





div.logo>span#collapse{
    position: relative;
    left: 0px;
    z-index: 100;
    top: 5px;
    padding: 15px 0;
}
div.logo>span::after,
div#left-tab>div.links>ul>li>a>span::after{
    height: 40px !important;
    width: 45px !important;
    display: block;
    position: relative;
    padding: 5px 2.5px;
    margin: 0 7.5px 0 0;
    float: left; 
    font-family: "Font-Awesome";
    text-align: center;
    font-size: 22px;
    color: #ffffff;
}
div.logo>span::after{
    content: '\f0c9';
}
div#left-tab>div.links>ul>li>a>span.overview::after{
    content: '\f0e4';
}
div#left-tab>div.links>ul>li>a>span.search::after{
    content: '\f002';
}
div#left-tab>div.links>ul>li>a>span.addSchool::after{
    content: '\f055';
}
div#left-tab>div.links>ul>li>a>span.preference::after{
    content: '\f02c';
}
div#left-tab>div.links>ul>li>a>span.accounts::after{
    content: '\f08d';
}
div#left-tab>div.links>ul>li>a>span.settings::after{
    content: '\f085';
}
div#left-tab>div.links>ul>li>a>span.reports::after{
    content: '\f15c';
}
div#left-tab>div.links>ul>li>a>span.offline::after{
    content: '\f204';
}
div#left-tab>div.links>ul>li>a>p{
    padding: 8.15px 5px;
    margin: 0;
    width: auto;
    display: block;
    float: left;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: normal;
    font-family: "OpenSans";
    font-kerning: normal;
    color: #ffffff;
}
div#left-tab>div.links>ul>li>a>p.minimize{
    display: none;
    transition: display 250ms;
}
/* Right Tab */
div#right-tab{
    height: 100vh;
    width: calc(100% - 250px);
    transition: width 300ms;
    position: absolute;
    top: 0;
    left: 250px;
    display: inline-block;
    overflow-y: auto;
    background-color: #ffffff;
    padding: 25px 40px;
    margin: 0;
}
div#right-tab.minimize{
    width: calc(100% - 82px);
    left: 82px;
    transition: width 300ms;
}
/* Search Form div */
div.search-form{
    padding: 10px 0;
    margin: 0;
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;

}
div.search-form>p.theme,
div.search-result>p.theme{
    font-size: 22px;
    font-weight: 300;
    font-family: "OpenSans";
    color: var(--themeColor);
    text-transform: none;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
div.search-result>p{
    padding-bottom: 10px;
}
div.search-form>div.form>form{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
}
div.search-form>div.form>form>div{
    height: 70px;
    width: 250px;
    display: block;
    position: relative;
    float: left;
    padding: 5px 10px;
    margin: 0;
    box-sizing: border-box;
}
/* For the search button */
div.search-form>div.form>div#search-button{
    height: 40px;
    width: 100%;
    padding: 0 10px;
    margin-top: 10px;
}
div.search-form>div.form>div#search-button>button.theme{
    height: 100%;
    width: auto;
    padding: 7px 30px 10px 30px;;
    margin: 0;
    display: block;
    position: relative;
    color: rgb(222, 235, 255);
    background-color: var(--themeColor);
    color: rgb(255, 255, 255);
    outline: none;
    border: 1px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 100ms ease-in;
    float: left;
}
button.advanceSearch{
    float: left;
    outline: none;
    border: none;
    display: block;
    position: relative;
    height: 100%;
    margin: 0 10px;
    padding: 7.5px 10px !important;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent !important;
    color: var(--themeColor) !important; 
}
button.advanceSearch:focus{
    outline: none;
    background-origin: none;
    box-shadow: none !important;
}
/* div.search-form>div.form>div#search-button>button:focus{
    box-shadow: 0px 0px 4px 1px rgb(7, 71, 166);
} */
/* div.search-form>div.form>form>div.theme::after{
    height: 40px;
    width: 35px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 10px;
    background: transparent;
    color: var(--themeColor);
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-family: "Font-Awesome";
    padding: 6px 0;
    content: '';
}
div.search-form>div.form>form>div.school-name::after{
    content: '\f19d'
}
div.search-form>div.form>form>div.school-code::after{
    content: '\f19c';
}
div.search-form>div.form>form>div.location::after{
    content: '\f041';
}
div.search-form>div.form>form>div.lga::after{
    content: '\f124';
}
div.search-form>div.form>form>div.school-type::after{   
    content: '\f2dd';
}
div.search-form>div.form>form>div.census-year::after{
    content: '\f073';
} */

form#searchForms>div.basicForm{
    display: block !important;
}
div.hS{
    opacity: 1;
    transition: all 300ms !important;
}
form#searchForms>div.hiddenSearch{
    display: none !important;
}
div.search-form>div.form>form>div>label{
    width: 100%;
    height: 20px;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}
div.search-form>div.form>form>div>input,
div.search-form>div.form>form>div>select{
    width: 100%;
    height: 40px;
    outline: none;
    padding: 9px 10px 9px 10px;
    margin: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 100;
    font-family: "OpenSans";
    text-transform: capitalize;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div.search-form>div.form>form>div>input.theme:focus,
div.search-form>div.form>form>div>select.theme:focus{
    border-color: var(--themeColor);
    box-shadow: 0px 0px 2px 1px var(--themeColor);
}
div.search-form input[type=date]{
    text-transform: uppercase !important;
}
div.search-form>div.form>form>div>input::-webkit-input-placeholder,::-moz-placeholder,:-ms-input-placeholder{
    color: #ccc;
    font-weight: 100;
    font-family: "OpenSans";
    font-size: 14px;
}
div.hiddenSearch{
    display: none !important;
}
div.allowAdvance{
    display: block !important;
}
div.search-result{
    padding: 40px 0;
}



/* Main tab contents */
div.tab-contents{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    padding: 5px 0;
}
div.tab-contents>div{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}
div.tab-contents>div.show-current-tab{
    display: inline-block;
}
div.tab-contents.hide{
    display: none !important;
}
div.tab-contents.show{
    display: block;
}
div#form-index{
    height: 30px;
    width: 100%;
    text-align:center;
    margin: 10px 0 10px 0;
    padding: 5px 0;
    display: inline-block;
    overflow: hidden;
}
div#form-index>span.step{
    height: 20px;
    width: 20px;
    margin: 0 2px;
    padding: 2.5px 0;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}
div#form-index>span.step.active {
    opacity: 1;
}

/* Adding of new Schools */
div#addSchools{
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    padding: 0px;
    margin: 0;
}
div#addSchools>p.addSchool.theme{
    font-size: 30px;
    font-weight: 400;
    font-family: "OpenSans";
    color: var(--themeColor);
    padding: 5px 0;
    margin: 0;
}
div.wrappingDiv{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

div.school_questions{
    float: left;
    padding: 7.5px 2.5px;
    margin: 0;
    display: block;
    position: relative;
    width: calc(100%/2)
}
div.wrappingDiv>div.school_questions>p>span{
    display: inline;
    color: #ff0000 !important;
    padding: 0 10px;
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    color: black;
}
div.school_questions.xtra{
    width: 100%;
}

div.school_questions.xtra>input,
div.school_questions>input{
    width: 100% !important;
}
div.forPrivate{
    width: 100%;
}
div.private{
    display: flex;
    justify-content: start;
    width: 100%;
}
div.private>p{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}
div.private>div{
    display: inherit;
    background-color: #ccc;
    border-radius: 20px;
    padding: 0 10px;
}
div.private>div:nth-child(even) {    
    margin: 0 10px;
}
div.private>div>label{
    display: block;
    position: relative;
    float: left;
    padding: 7px 0px;
    padding-right: 10px;
    cursor: pointer;
}
div.private>div>input[type=checkbox]{
    outline: none;
    width: auto;
    position: relative;
}
div.school_questions>input[type=checkbox] {
    width: auto !important;
}
div.BtnAddSchool{
    float: left;
    display: block;
    position: relative;
    padding: 7.5px 0;
}
div.BtnAddSchool>input[type=button].theme{
    height: 40px;
    width: auto;
    padding: 5px 15px;
    margin: 0;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--themeColor);
    color: #ffffff;
    font-weight: lighter;
    font-size: 16px;
    transition: background-color 100ms ease-in;
}
div.BtnAddSchool>input[type=button]:hover{
    background-color: rgb(7, 71, 166);

}


div.school_questions>p.question{
    font-size: 18px;
    font-weight: 200;
    font-family: "OpenSans";
    padding: 0 0px 8px 0px;
}
div.school_questions>input.theme{
    height: 40px;
    width: 450px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--themeColor);
    border-radius: 0 !important;
    box-shadow: none;
    transition: box-shadow 100ms ease-in;
    padding: 5px 12.5px;
}
div.school_questions>select.theme{
    padding-left: 10px !important;
    border: 1px solid var(--themeColor);
}
div.school_questions>input.theme:focus,
div.school_questions>select.theme:focus{
    border: 1px solid var(--themeColor) !important;
    box-shadow: 0px 0px 4px 1px var(--themeColor) !important;

}


/* For the overflowing Table */
div.search-result.table-responsive{
    overflow-x: unset !important;
}

/* End of Add School Form */
/* For the alert box message */
div#alert{
    width: 250px;
    height: 60px;
    padding: 17.5px 30px;
    margin: 0 auto;
    display: none;
    position: absolute;
    bottom: 40px;
    background-color: #28a745;
    z-index: 3;
    box-sizing: border-box;
    right: 40px;
    border-radius: 4px;
    text-align: center;
}
div#alert.active{
    display: block;
    opacity: 1;
}
div#alert>p{
    color: #ffffff;
    font-weight: lighter;
    font-family: "OpenSans";
    text-transform: capitalize;
}
.expand{
    width: 78px !important;
    display: block;
}
input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
/* End of the alert box message */


/* INDEX PAGE CHART*/
#pie_grid{
    display: grid;
    height: 420px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 170px;
    column-gap: 15px;
    margin-top: 15px;
}

#line_chart{
    display: block;
}

/* INDEX PAGE */
#grid {
    display: grid;
    height: 170px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 170px;
    column-gap: 15px;
  }
  
  #grid > div {
      background-size: cover;
      background-repeat: repeat;
      border-radius: 5px;
  }
    #grid > div::before{
        position: absolute;
        color: #ffffff;
        font-size: 80px;
        font-family: "Font-Awesome";
        content: '\f19d';
        left: 10px;
    }
  #grid > div#one{
      background-image: url("../images/1.jpg");
  }
  #grid > div#two{
    background-image: url("../images/2.jpg");
  }
  #grid > div#three{
    background-image: url("../images/3.jpg");
  }
  #grid > div#four{
    background-image: url("../images/4.jpg");
  }

  div.heading{
      height: 50px;
      width: 100%;
      position: absolute;
      margin: 0;
      padding: 12.5px 10px 15px 10px;;
      bottom: 0;
      border-top: 1.5px solid #ccc;
  }
    div.heading>p{
        color: #ffffff;
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 1.5rem;
        font-family: "OpenSans";
        font-weight: lighter;
    }
    p.heading{
        font-family: "OpenSans";
        font-size: 55px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        right: 30px;
        top: 7.5px;
    }
    
    /* button:focus{
        opacity: 0.5 !important;
    } */

    /* Developers Section */
    div.nav{
        display: block;
        float: left;
        width: auto;
        height: 100%;
        position: relative;
        margin: 0 100px;
    }
    div#loginApp * div.nav>ul>li{
        margin: 0;
        padding: 0;
        height: 100%;
        width: auto;
        list-style: none;
        display: inline-block;
    }
    div.nav>ul>li{
        margin: 0 .5px;
    }    
    div.nav>ul>li:hover>a{
        background: #ffffff;
        color: rgb(7, 71, 166) !important;
        border-radius: 4px;
    }
    div.nav>ul>li>a{
        padding: 5px 7.5px;
        margin: 0;
        display: block;
        position: relative;
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: #fff;
        font-family: "OpenSans";
        font-size: 16px;
        font-weight: lighter;
        text-decoration: none;
    }

    div.infoD{
        position: absolute;
        top: -45px;
        left: 210px;
        display: block;
        height: auto;
        width: auto;
    }
    div.infoD>label{
        padding: 5px 0;
        width: 250px;
        display: block;
        float: left;
        text-align: center;
    }

    div.exit{
        height: 40px;
        width: 40px;
        border: 1px solid #ccc;
        padding: 0px;
        margin: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    div.exit>p{
        font-family: "OpenSans";
        font-size: 26px;
        font-weight: 400;
        text-align: center;
        color: #121212;
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }
    
    div.exit>p:hover{
        color: #ff0000;
    }

@media screen and (max-width : 767px) {
    div.private>div {
        border-radius: 20px;
        width: 50%;
        height: auto !important;
    }
    div#schoolNo {
        width: 100%;
    }
}