:root{
    --themeColor: #000000;
}
@font-face{
    font-family: "Font-Awesome";
    src: url("../fonts/FontAwesome.otf");
}
@font-face{
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
/* FORMS */
div>section>form{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    position: relative;
    display: block;
}
div.row{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 1.5px 0;
    position: relative;
}
div.row>div.question{
    width: 25%;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
    background-color: #cccccc;
}
div#tab3 div.row>div.question,
div#tab11 div.row>div.question,
div#tab12 div.row>div.question,
div#tab13 div.row>div.question,
div#tab15 div.row>div.question{
    width: 35% !important;
}
div.row>div.question>p{
    padding: 7.5px 15px;
    margin: 0;
    display: block;
    position: relative;
    color: #121212;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
div.row>div.question>p+em{
    padding: 0 15px;
}
div.row>div.question>em{
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    font-family: "OpenSans";
    color: #121212;
    padding: 5px 10px;
    margin: 0;
    position: relative;
    display: inline-block;
    width: 100%;
}
div.row>div.answer{
    width: calc(100% - 25%);
    height: auto;
    display: inline-block;
    position: relative;
    padding: 0 0 0 10px;
    float: left;
}
div#tab3 div.row>div.answer{
    padding: 0px;
}
div#tab3 div.row>div.answer,
div#tab11 div.row>div.answer,
div#tab12 div.row>div.answer,
div#tab13 div.row>div.answer,
div#tab15 div.row>div.answer{
    border: 1px solid #ced4da;
    /* margin-left: 10px; */
}
div#tab3 div.row>div.answer,
div#tab11 div.row>div.answer,
div#tab12 div.row>div.answer,
div#tab13 div.row>div.answer,
div#tab15 div.row>div.answer{
    width: calc(100% - 36%) !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}
div.row>div.answer>input,select,td>input[type=number]{
    width: 100%;/*
    height: 40px; */
    outline: none;
    padding: 7.5px 10px 5px 10px;
    margin: 0;
    background-color: transparent;
    font-size: 14px;
    font-weight: 100;
    font-family: "OpenSans";
    text-transform: capitalize !important;
    border: 1px solid #ced4da;
    border-radius: 0 !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    -moz-appearance: textfield !important;
}
div.row>div.answer>label{
    text-transform: capitalize;
    font-weight: lighter;
    font-family: "OpenSans";
    font-size: 14px;
    padding: 0 10px;
}
div.row>div.answer>input[type=number]{
    width: 30% !important;
    border: none;
    border-bottom: 1px solid #bbbbbb;
}
div#tab10 div.row>div.answer>input{
    margin: 2.5px 0;
}
input[type=date]:-moz-placeholder,
input[type=date]::-ms-input-placeholder,
input[type=date]::-webkit-input-placeholder{
    text-transform: uppercase !important;
}
div.helper{
    padding: 10px 15px !important;
}
input#no_shared-facilities{
    margin-left: 15px;
}

div.row>div.answer>span{
    height: 100%;
    display: block;
    position: relative;
    padding: 5px 15px;
    margin: 0;
}

div.row>div.answer>input+input{
    margin: 2.5px 0;
}
div.row>div.answer input[type=number]+input[type=number]{
    display: block;
    float: left;
}
div.row>div.answer>input.theme:focus,
div.row>div.answer>select.theme:focus,
td>input[type=number].theme:focus{
    border-color: var(--themeColor);
    box-shadow: 0px 0px 1px 0px var(--themeColor);
}

div.row>div.answer>ul{
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}
div.row>div.answer>ul>li{
    width: auto;
    height: 100%;
    display: block;
    position: relative;
    float: left;
    padding: 10px 15px;;
    box-sizing: border-box;
    margin: 0;
}
div.row>div.answer>ul>li>input[type=radio],input[type=checkbox]{
    width: auto;
    height: auto;
    display: block;
    float: left;
    padding: 0;
    margin: 2px 0 0 0;
    position: relative;
    outline: none;
}
div.row>div.answer>ul>li>input[type=radio]:focus,input[type=checkbox]:focus{
    border: 1px solid rgb(7, 71, 166);
    outline: 1px solid rgb(7, 71, 166);
}
div.row>div.answer>ul>li label{
    float: left;
    display: block;
    position: relative;
    padding: 0 5px;
    margin: -5px 5px;
    text-transform: capitalize;
    width: auto !important;
}

/* button groups */
div#button-group{
    height: auto;
    width: auto;
    padding: 20px 0px 0px 0px;
    display: block;
    position: relative;
    float: left;
}
div#button-group>ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
div#button-group>ul{
    width: 100%;
    height: 100%;
    float: left;
}
div#button-group>ul>li{
    display: block;
    position: relative;
    float: left;
}
div#button-group>ul>li+li{
    margin: 0 5px;
}
div#button-group>ul>li>button{
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: "OpenSans";
    cursor: pointer;
    text-transform: capitalize;
    opacity: 1;
    transition: opacity ease-in-out .15s;
}
div#button-group>ul>li>button:hover{
    opacity: 0.7;
}
div#button-group>ul>li>button#previous{
    background-color: #bbbbbb;
}
div#button-group>ul>li>button#save{
    background-color: #dc3545;
}
div#button-group>ul>li>button#next.theme{
    background-color: var(--themeColor);
}



/* Animation */
/* Center the loader */
div#loader.theme {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 75px;
    height: 75px;
    margin: -37.5px 0 0 -37.5px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid var(--themeColor);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
div#loader.show{
    display: block;
}
div#loader.hide{
    display: none;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}



/* SECTION Characteristics */

/* SECTION ENROLLMENT */
div.tab-contents div>p.label{
    font-family: "OpenSans";
    font-weight: 300;
    font-size: 18px !important;
    color: inherit;
    padding: 5px 0px;
    margin-bottom: 10px;
}



table{
    width: 100%;
    border-collapse: collapse !important;
    overflow: auto;
}
th, td {
    border: 1px solid #bbbbbb;
}
table tr td.effectGray{
    background-color: #cccccc !important;
    text-align: center;
    color: #121212;
    padding: 8px 10px !important;
}
table tr td.effectGray.text{
    text-align: left;
}
td.label-effect>label{
    font-weight: 600;
    font-family: "OpenSans";
    font-size: 14px;
    color: inherit;
}
table tr td{
    padding: 5px 7.5px;
}
table>tr>td>label{
    color: #121212;
    margin: 0;
    padding: 0;
}
/* Controlling section D table */
table.table{
    margin-top: 10px;
}
table.table thead th{
    font-size: 11px !important;
    vertical-align: text-top;
}
/* End Section D Table */
td>input{
    box-sizing: border-box !important;
    width: 100% !important;
    /* height: 100% !important; */
    transition: border 100ms ease-in;
    display: block;
    position: relative;
    border: 1px solid #121212;
    text-align: center;
}
/* table, th, td>input:focus{
    border: 1px solid #060F66;
} */
:disabled{
    background-color: #cccccc !important;
    cursor: no-drop;
    color: #ffffff !important;
    -webkit-appearance: none !important;
}
td.specs{
    width: 150px;
}



/* Dialog Box Form*/
div#dialog-form,
div#addClassRooms,
div#addWorkShop{
    width: 100%;
    height: 100vh;
    padding: 30px 40px;
    overflow: auto;
    margin: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    z-index: 10000;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    /* fill: rgb(255, 255, 255);
    top: 50%;
    transform: translateY(-50%); */
}
div#dialog-form.active,
div#addClassRooms.active,
div#addWorkShop.active
{
    display: block;
}
div#dialog-form>div{
  display: block;
  margin: 0;
  padding: 0;
}
div#dialog-form>div.leftDiv{
    padding: 0 10px;
    width: 60%;
}
div#dialog-form>div.rightDiv{
    padding: 0 20px;
    width: 40% !important;
}
div.editStaff{
    display: none;
}
div.editStaff.active{
    display: block;
}
div.removeStaff{
    display: none;
}
div.removeStaff.active{
    display: block;
    z-index: 5000000000;
}
div.addNewStaff{
    display: block;
}
div#dialog-form form div.formRow,
div#addClassRooms form div.formRow,
div#addWorkShop form div.formRow{
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    padding: 9px 0;
}
div#dialog-form form>div.formRow+div.formRow>div.row-column,
div#addClassRooms form>div.formRow+div.formRow>div.row-column,
div#addWorkShop form>div.formRow+div.formRow>div.row-column
{
    width: calc(100%/3);
    height: auto;
    display: block;
    float: left;
    position: relative;
    padding: 0 2.5px;
}
p.dialog-label {
    padding: 10px 0;
    margin: 0;
    font-size: 20px;
    font-weight: lighter;
    font-family: "OpenSans";
    color: rgb(7,72,166);
}
div#dialog-form form div.formRow>div,
div#addClassRooms form div.formRow>div,
div#addWorkShop form div.formRow>div
{
    width: 100%;
    height: auto;
    padding: 2.5px 0;
    margin: 0;
}
div#dialog-form form div.formRow>div>label,
div#addClassRooms form div.formRow>div>label,
div#addWorkShop form div.formRow>div
{
    width: 100%;
    height: auto;
    padding: 0 0 3.5px 0;
    display: block;
    position: relative;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: lighter;
    font-family: "OpenSans";
}
div#dialog-form form div.formRow>div>input,
div#addClassRooms form div.formRow>div>input,
div#addWorkShop form div.formRow>div>input
{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #ced4da;
    padding: 9px 15px 9px 35px;
    margin: 0;
    font-size: 14px;
    font-weight: lighter;
    font-family: "OpenSans";
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div#dialog-form form div.formRow>div>input[type=checkbox],
div#addClassRooms form div.formRow>div>input[type=checkbox],
div#addWorkShop form div.formRow>div>input[type=checkbox]
{
    width: auto;
    height: auto;
}
div#dialog-form div.formRow>div>input:focus,
div#addClassRooms div.formRow>div>input:focus,
div#addWorkShop div.formRow>div>input:focus
{
    border-color: rgb(7, 71, 166);
    box-shadow: 1px 1px 5px 1px rgb(7, 71, 166, 0.3);
}
div#dialog-btn{
    width: 100%;
    height: 40px;
    display: block;
    position: relative;
    margin-top: 10px;
}
div#dialog-btn>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}
div#dialog-btn>ul li{
    list-style: none;
    height: auto;
    width: auto;
    position: relative;
    display: block;
    float: left;
}
div#dialog-btn>ul li+li{
    margin-left: 10px;
}
div#dialog-btn>ul li>button{
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: "OpenSans";
    cursor: pointer;
    text-transform: capitalize;
}


div.closeme{
    position: absolute;
    height: 50px;
    width: 50px !important;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    top: 10px;
    right: 5px !important;
    border: 1px solid #cccccc;
    z-index: 10000;
}
div.closeme{
    padding: 0;
    font-family: "Font-Awesome";
    font-weight: lighter;
    color: #010101;
    font-size: 35px;
    text-align: center;
}
div.closeme::before{
    height: 100%;
    width: 100%;
    content: '\f00d';
}
div#dialog-btn>ul li>button#submit-staff,
button#submitClassRoom,
div#dialog-btn>ul li>button#submit-workshop
{
    background-color: #007bff;
    fill: #007bff;
}
div#dialog-btn>ul li>button#cancel,
button#cancelClassRoom,
div#dialog-btn>ul li>button#cancelWks{
    background-color: #dc3545;
    fill: #dc3545;
}

div#dialog-btn>ul li>button#addNewStaff{
    background-color: #28a745;
    fill: #28a745;
}
button#submitClassRoom,
button#cancelClassRoom{
    color: #ffffff;
}
div.addBtn{
    height: 45px;
    width: auto;
    top: -0px;
    right: 0;
    display: block;
    position: absolute;
    float: right;
    z-index: 1000;
}
div.addBtn>ul>li{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: right;
}
div.addBtn>ul>li>button{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #bbbbbb;
    outline: none;
    cursor: pointer;
}
div.addBtn>ul>li>button::after{
    content: '\f234';
    color: rgb(255, 255, 255);
    font-family: "Font-Awesome";
    font-size: 16px;
    text-align: center;
}
/* To be copied */
ul#list-tile{
    list-style: none;
    display: inline-block
}
ul#list-tile>li{
    display: block;
    width: 100% !important;
    height: auto;
    position: relative;
}
div.list-style{
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
}
div.list-style+div.list-style{
    margin: 3.5px 0;
}
div.list-style>span{
    display: inline;
}
div.list-style>span>label{
    float: left;
    width: 200px;
    padding: 7.5px 0;
    margin: 0;
}
div.list-style>span>input{
    height: 40px;
    width: 250px;
    display: inline;
    outline: none;
    border-radius: 4px;
    border: 1px solid #ced4da;
    margin: 0 5px;
    padding: 7.5px 10px 5px 10px;
    font-size: 14px;
    font-weight: 100;
    font-family: "OpenSans";
    text-transform: capitalize !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
div.list-style>span>input:focus{
    border-color: rgb(7, 71, 166);
    box-shadow: 1px 1px 5px 1px rgb(7, 71, 166, 0.3);
}





/* For the alert box message */
/* div#alert{
    width: 250px;
    height: 60px;
    padding: 17.5px 30px;
    margin: 0 auto;
    display: none;
    position: absolute;
    bottom: 20px;
    background-color: #28a745;
    z-index: 3;
    box-sizing: border-box;
    right: 40px;
    border-radius: 4px;
    text-align: center;
}
div#alert.active{
    display: block;
    opacity: 1;
}
div#alert>p{
    color: #ffffff;
    font-weight: lighter;
    font-family: "OpenSans";
} */
/* End of the alert box message */


input[type=number].editted,
.editted{
    color: #007bff !important;
}



/* FOR THE NEW FORMS REDESIGN */
div.editStaff,
div.addNewStaff,
div.removeStaff{
    width: 100%; 
    padding: 50px;
    margin: 0;
}
div.form-Box>p.dialog-label{
    font-size: 26px !important;
    font-weight: 500;
}
div.form-Box{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 3px 3px 4px #cccccc;
    perspective: 5.5cm;

}
div.form-Box>form>div>div.formRow{
    width: 100%;
    height: auto;
}
div.formRow:nth-child(odd){
    margin-bottom: 7.5px !important;
}
div.form-Box>form>div>div.formRow>label{
    width: 100%;
    height: auto;
    padding: 5px 0 5px 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
}
div.form-Box>form>div>div.formRow>input{
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 2.5px 5px;
    margin: 0;
    transition: border-bottom 0.5s;
}
div.form-Box>form>div>div.formRow>input[type=checkbox]{
    width: auto;
    height: auto;;
}
div.form-Box>form>div>div.formRow>input:focus{
    border-bottom: 1px solid #007bff;
}

/* Make circles that indicate the steps of the form: */
.step,
.nstep {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none; 
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active,
  .nstep.active {
    opacity: 1;
    background-color: #007bff;
  }
  
  /* Mark the steps that are finished and valid: */
  /* .step.finish {
    background-color: #007bff;
  } */

/* Buttons */
div#Buttons{
    width: 100%;
    height: 40px;
    display: block;
    position: relative;
    padding: 0;
    margin-top: 15px;
}
div#Buttons>button{
    height: 100%;
    width: auto;
    display: inline-block;
    cursor: pointer;
    padding: 7.5px 12.5px;
    margin: 0;
    outline: none;
    border: none; 
}
div#Buttons>button#Previous,
div#Buttons>button#nPrevious{
    background-color: #cccccc;
    float: left;
    position: relative;
    margin-right: 10px;
}
div#Buttons>button#Next,
div#Buttons>button#nNext{
    background-color: #4CAF50;
    color: #ffffff;
}
div#Buttons>button#Remove{
    background-color: #dc3545;
    color: #ffffff;
}

/* Categories */
div.category,
div.categor{
    display: none;
}

/* Customising Staff Forms */
table#StaffList tr td{
    border: none;
}
table#StaffList tr:nth-child(even){
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

p#more{
    padding: 0px;
    margin: 0;
    height: 40px;
    width: 40px;
    display: block;
    position: relative;
    border-radius: 50%;
}
p#more::after{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    font-family: "Font-Awesome";
    content: '\f1f8';
    font-size: 26px;
    color: #121212;
    text-align: center;
}
span#more:hover{
    color: #007bff;
}

ul.actions{
    padding: 10px 12.5px;
    margin: 0;
    height: auto;
    width: auto;
    background-color: #eeeeee;
    border-radius: 4px;
    display: none;
    position: absolute;
    right: 0px;
    z-index: 30000;
}
ul.actions.active{
    display: block;
}
ul.actions>li{
    list-style: none;
    display: block;
    padding: 2.5px 0;
    margin: 0;
}
ul.actions>li+li{
    border-top: 1px solid #cccccc
}
ul.actions>li>p{
    color: #121212;
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
ul.actions>li>p:hover{
    color: #007bff;
}

/* Add New Staff Button */
button#addStaff{
    height: 40px;
    width: auto;
    margin-top: 15px;
    cursor: pointer;
    padding: 7.5px 12.5px;
    margin: 15px 0 0 0;
    outline: none;
    border: none; 
    background-color: #007bff;
    color: #ffffff;
}
button#addStaff:hover{
    opacity: 0.7;
}

div.classes{
    width: 450px;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: block;
}
div.special>div{
    width: 50% !important;
    display: inline-block;
    position: relative;
    float: left;
}
div.specials>div{
    width: calc(100% / 3) !important;
    display: inline-block;
    position: relative;
    float: left;
}


/* For the Remove Staff */
#clearStaff{
    width: 450px;
    height: auto;
    left: 50%;
    right: 50%;
    display: none !important;
    position: absolute;
    z-index: 4000000;;
    background-color: #ffffff;
}
#clearStaff.active{
    display: block !important;
}
div#dialog-form::after{
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-color: #cccccc;
    opacity: 0.5;
    overflow: hidden;
}
div#dialog-form.active::after{
    display: none;
}
#sizingStaff{
    width: 750px;
    margin: 0 auto;
}
div#allowFlow{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

div.mainCover{
    width: 100%;
    height: auto;
    position: relative;
    margin: 3px 0;
    scroll-behavior: smooth;
}
input.StaffNum{
    width: 100px !important;
    height: 40px;
    padding: 5px 7.5px;
}
input.Grade{
    height: 40px;
    padding: 5px 7.5px;
}
input.StaffName{
    width: 175px !important;
    height: 40px;
    padding: 5px 7.5px;
}
table#StaffList input{
    text-align: left;
}
table#StaffList td{
    vertical-align: middle !important;
}
table#StaffList input[type=checkbox]{
    width: 30px !important;
    height: auto;
}
table#StaffList select{
    min-width: 80px;
}


/* For the Completion Page */
div.completedIcon{
    height: 175px;
    width: 175px;
    border-radius: 87.5px;
    border: none;
    position: relative;
    padding: 0;
    margin: 0 auto;
    background-image: url("../images/complete.svg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-top: 70px;
}
h3.inform{
    font-size: 24px;
    font-family: "Raleway";
    text-align: center;
}
h4.action{
    font-size: 18px;
    font-family: "Raleway";
    text-align: center;
}




@media screen and (max-width: 767px) {
    div.row>div.answer {
        padding: 0px;
    }
    div#tab3 div.row>div.question, 
    div#tab11 div.row>div.question, 
    div#tab12 div.row>div.question, 
    div#tab13 div.row>div.question, 
    div#tab15 div.row>div.question,
    div.question {
        width: 100% !important;
        display: block;
        position: relative;
    }
    div.answer,    
    div#tab3 div.row>div.answer, 
    div#tab11 div.row>div.answer, 
    div#tab12 div.row>div.answer, 
    div#tab13 div.row>div.answer, 
    div#tab15 div.row>div.answer{
        width: 100% !important;
        padding: 0px;
        margin-left: 0px !important;
    }
    div.row:nth-child(even) {
        margin: 7.5px 0px;
    }

    div#right-tab {
        padding: 20px !important;
    }

    div.row>div.answer>input[type=number] {
        width: 100% !important;
    }
    div#tab11 div.row>div.answer {
        padding: 10px !important;
    }
    div.addBtn{
        bottom: 45px !important;
    }

    div.editStaff, div.addNewStaff, div.removeStaff {
        padding: 40px 0px;
    }
    div.form-Box {
        padding: 15px 5px;
    }
    div.classes {
        width: 100%;
    }
    div.answer.helper{ 
        padding: 10px !important;
    }
    div#sizingStaff {
        width: 100% !important;
    }
    input#no_shared-facilities {
        margin-left: 0px !important;
    }
}

.print_preview_form::before{
    content: '\f02f';
    font-family: "Font-Awesome";
}
