:root{
    --themeColor: #000000;
}
@font-face{
    font-family: "Font-Awesome";
    src: url("../fonts/FontAwesome.otf");
}
@font-face{
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

h3.label.theme{
    color: var(--themeColor);
    padding: 0;
    margin: 0 0 20px 0;
    font-weight: normal;
    font-size: 32px;
    font-family: "OpenSans";
}
div>label{
    color: #121212;
    font-weight: normal;
    font-size: 18px;
    font-family: "OpenSans";
    padding: 7px 5px 10px 0;
}
div>select{
    margin-bottom: 30px;
}
div>select{
    padding: 10px 7.5px !important;
    border-radius: 4px;
    outline: none;
    border: none;
    border: 1px solid #ccc; 
}
div>select:focus{
    border: 1px solid rgb(7, 71, 166);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s;
}
tbody#addEffect tr td{
    height: auto;
    padding: 2.5px 4.5px !important;
    vertical-align: middle;
    margin: 0;
}
tbody#addEffect tr td>input,select,textarea{
    height: 40px;
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #ccc;
}
tbody#addEffect tr td>input:hover{
    cursor: pointer;
}
tbody#addEffect tr td>input:focus{
    border-bottom: 1px solid rgb(7, 71, 166);
    border-radius: .25rem;
    transition: border-color ease-in-out .15s;
}
button#addNewMetadata,
button#addNewState{
    background-color: var(--themeColor);
}
button#sumbit-metadata,
button#saveChanges,
button#saveLGA{
    background-color: #28a745;
}
div.newMetadata{
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
}
div.newMetadata>button{
    height: 50px;
    width: auto;
    padding: 10px 15px;
    margin: 0 5px;
    display: block;
    position: relative;
    float: left;
    outline: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    position: relative;
}
p#deleteMeta{
    display: block;
    position: relative;
    height: 35px;
    width: 35px;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}
p#deleteMeta::after{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    content: '\f057';
    color: #ff0000;
    top: -5px;
    position: relative;
    font-size: 30px;
    font-family: "Font-Awesome";
}

p#success{
    text-align: center;
    font-family: "OpenSans";
    font-weight: lighter;
    font-size: 14px;
    padding: 0;
}