*{
    padding: 0;
    margin: 0;
    position: relative;
    user-select: none;
    box-sizing: border-box;
}
@font-face{
    font-family: "Font-Awesome";
    src: url("../fonts/FontAwesome.otf");
}
@font-face{
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}
html,body{
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
}
a,p,label,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Main Container */
div#loginApp{
    width: 100%;
    height: 100vh;
    display: block;
    position: fixed;
    overflow: hidden;
}

/* Header Section */
div.header{
    height: 50px;
    width: 100%;
    padding: 7.5px 50px;
    position: relative;
    display: block;
    background-color: #0747a6;
}
div.header>h2{
    height: 35px;
    width: auto;
    display: block;
    float: left;
    position: relative;
    font-family: "OpenSans";
    font-weight: normal;
    font-size: 26px;
}
div.header>h2>a{
    padding: 3px 0;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: #ffffff;
    display: block;
    cursor: pointer;
    font-family: "OpenSans";
}

/* Main Wraps */
div.mainWrap{
    height: calc(100vh - 100px);
    display: block;
    position: relative;
    background-attachment: fixed;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* Login Forms */
div.main{
    width: 400px;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
    padding: 60px 40px;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 8px 0px #cccccc;
    background-color: #ffffff;
}
div.main>div{
    width: 100%;
    height: 100%;
    position: relative;
}
div.searchUser,
div.createPwd,
div.loginDetails{
    display: none;
}
div.searchUser.active,
div.createPwd.active,
div.loginDetails.active{
    display: block;
}
div.main>div>h3.caption{
    color: #0747a6;
    font-family: "OpenSans";
    font-weight: lighter;
    font-size: 26px;
    display: block;
    position: relative;
    width: 100%;
}
div.main>div>p.error{
    padding: 5px 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 12px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    display: none;
}
div.main>div>p.error.active{
    display: block;
}
div.main>div>p.caption{
    padding: 12.5px 0 0 0;
    font-size: 18px;
    font-weight: lighter;
    font-family: "OpenSans";

}
div.main>div>p.email{
    padding: 5px 10px;
    margin: 10px auto 0 auto;
    border-radius: 20px;
    border: 1px solid #cccccc;
    background-color: #cccccc;
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.5;
}
div.main>div>div{
    margin: 10px 0 20px 0;
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}
div.main>div>div label{
    color: #131313;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: normal;
    padding: 7.5px 0;
}
div.main>div>div input{
    height: 40px;
    width: 100%;
    padding: 4px 15px;
    border: none;
    outline: 1px solid #cccccc;
    transition: outline 1s;
}
input.error{
    outline: 1px solid #ff0000 !important;
}
input.correct{
    outline: 1px solid #155724 !important;
}
div.main>div>div input:focus{
    outline: 1px solid #0747a6;
    border: none;
}
div.buttons{
    margin: 0 !important;
}
span#spinner{
    display: none;
}
span#spinner.active{
    margin-left: 10px;
    margin-top: 2.5px;
    display: block;
}
div.buttons>button{
    height: 40px;
    width: auto;
    display: block;
    position: relative;
    float: left;
    padding: 5px 15px;
    outline: none;
    border: none;
    font-family: "OpenSans";
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    color: #ffffff;
    background-color: #0747a6;
}
div.buttons>button:focus,
div.buttons>button:hover{
    opacity: 0.7;
}

/* Avatar */
div.avatar{
    height: 100px !important;
    width: 100px !important;
    border-radius: 50%;
    margin: 10px auto !important;
    border: 1px solid #cccccc;
    position: absolute !important;
    left: 0;
    right: 0;
    top: -120px;
    z-index: 2;
    background-color: #cccccc;
}
div.avatar img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;
}
/* Footer */
div.footer{
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #cccccc;
    padding: 10px 0;
    display: block;
    vertical-align: middle;
    text-align: center;
}
div.footer p{
    color: #121212;
    font-family: "OpenSans";
    font-weight: lighter;
    font-size: 14px;
    padding: 5px 0;
}


/* CLIENTS PAGE */
div.mainWrap.caseID{
    padding: 30px 50px 
}
div.mainWrap>div.contentWrap{
    width: 100%;
    height: auto;
    padding: 10px 0px;
    display: block;
    position: relative;
}
.p_Caption{
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: bold;
    color: #0747a6;
    padding: 7.5px 0;
}

div.appID{
    width: 100%;
    display: block;
    position: relative;
    border: 1px solid #cccccc;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #cccccc;
    margin: 7.5px 0;
    user-select: normal;
}
div.appID>p{
    color: #ffffff;
    font-family: 'OpenSans';
    font-size: 18px;
    font-weight: lighter;    
    user-select: all;
    cursor: copy;
    text-align: center;
}

div.logs{
    float: right;
    height: 100%;
    width: auto;
}
div.logs>button{
    padding: 5px 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    background: transparent;
    cursor: pointer;
    transition: all 300ms;
}
div.logs>button:focus,
div.logs>button:hover{
    border: 1px solid #cccccc;
}
