:root{
    --themeColor: #000000;
}
@font-face{
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

div.users{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 30px 30px 15px;
    margin: 0;
    width: 100%;
    height: auto;
    display: block;/* 
    background-color: red; */
}
div.users>div.user-avatar{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    display: block;
    position: relative;
    border: 1px solid rgba(77, 136, 224, 0.815);
    margin-bottom: 10px;
    z-index: 2;
}
div.users>div.user-avatar img{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 25px;
    border: 1px solid rgba(77, 136, 224, 0.815);
    z-index: 1;
}
h2,p,a{
    font-family: "OpenSans";
}
div.users>h2.name{
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 2.5px 0;
}
div.users>h2.name>a{
    text-decoration: none;
    color: #ffffff;;
}
p.role{
    font-weight: lighter;
    font-size: 12px;
    color: #cccccc;
}
div.users-links{
    position: absolute;
    left: 100px;
    bottom: 30px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.31) 0px 0px 1px;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    overflow: auto;
    display: none;
    width: 145px;
    height: auto;
    padding: 7.5px 0;
    z-index: 3000;
}
div.users-links.active{
    display: block;
}
div.users-links ul,li{
    list-style: none;
    display: block;
    position: relative;
    margin: 0;
}
div.users-links>ul>li{
    margin: 0;
    display: block;
    position: relative;
    cursor: pointer;
}
div.users-links>ul>li:nth-child(odd){
    margin: 2.5px 0
}
div.users-links>ul>li>a{
    font-size: 14px;
    font-weight: lighter;
    font-family: "OpenSans";
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(23, 43, 77);
    fill: rgb(255, 255, 255);
    border-radius: 0px;
    text-decoration: none;
    display: block;
    position: relative;
}
div.users-links>ul>li>a:hover{
    color: rgb(23, 43, 77);
    fill: rgb(244, 245, 247);
    background: rgb(244, 245, 247);
}

/* Edit Users Section */
h3.header.theme{
    font-family: "OpenSans";
    font-weight: lighter;
    font-size: 24px;
    margin: 20px 0 10px 0;
    color: var(--themeColor);
}
div.line{    
    border-bottom: 1px solid #cccccc;
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 20px;
}
div.tabPane>div{
    width: 450px;
    height: auto;
    display: block;
    position: relative;
    margin: 30px auto 0 auto;
    padding: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
div.tabPane>div>div{
    display: block;
    position: relative;
    height: auto;
    width: 100%;
}
div.tabPane{
    display: none;
}
div.tabPane.active{
    display: block;
}
label{
    width: 100%;
    /* display: block; */   /* Commented to fix the forms */
    font-size: 16px;
    font-family: "OpenSans";
    font-weight: lighter;
    padding: 7.5px 0;
}
input,select,input[type=color]{
    height: 40px;
    width: 100%;
    display: block;
    position: relative;
    border: none;
    outline: 1px solid #cccccc;
    padding: 5px 7.5px;
    margin: 0;
    transition: outline 0.5s;
}
input:focus,
select:focus{
    outline: 1px solid rgb(7, 71, 166);
}
div.buttons{
    width: 100%;
    height: auto;
    margin-top: 20px;
    position: relative;
    display: block;
}
div.buttons button{
    padding: 7.5px 10px;
    margin: 0;
    display: block;
    height: auto;
    width: auto;
    position: relative;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: pointer;
}
div.buttons button:hover{
    opacity: 0.9;
}
button#delete,
button#revoke{
    fill: #ff0000;
    background-color: #ff0000;
    color: #ffffff;
}

div.buttons button#delete:hover,
div.buttons button#revoke:hover{    
    box-shadow: 1px 1px 1px 3px #ff0000;
}
button#addRoles{
    fill: var(--themeColor);
    background-color: var(--themeColor);
    color: #ffffff;
}
button#addRoles:hover{
    box-shadow: 1px 1px 1px 3px rgb(7, 71, 166);
}

/* Alerts */
div#alertUsers{
    width: 300px;
    height: auto;
    display: block;
    position: absolute;
    margin: 15px auto;
    top: -300px;
    left: 0;
    right: 0;
    padding: 12.5px 10px;
    z-index: 10000;
    border-radius: 10px;
    background-color: #d4edda;
    transition: top 1s;
    text-align: center;
}
div#alertUsers.active{
    top: 0;
}
p#info{
    text-align: center;
    font-family: "OpenSans";
    font-weight: lighter;
    font-size: 16px;
    padding: 7.5px 0 7.5px 0;
}
/* Users Profile Page */
div.user-full{
    height: 200px;
    width: 100%;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    vertical-align: bottom;
}
div.user-image{
    width: 175px;
    height: 175px;
    display: block;
    float: left;
    background: transparent;
    position: relative;
    margin-top: 25px;
}
div.user-image>img{
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
}
div.user-details{
    display: inline;
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    padding: 5px 7.5px;
}
p.name,p.user-role{
    font-family: "OpenSans";
}
p.name{
    font-weight: 500;
    font-size: 18px;
    padding: 2.5px 0;
    color: var(--themeColor);
}
p.user-role{
    font-weight: lighter;
    font-size: 14px;
    padding: 0;
    color: inherit;
}
div.user-summary{
    width: 100%;
    height: 400px;
    position: relative;
    display: block;
    margin-top: 40px;
    background-color: #ffffff;
}
ul.seed{
    height: 40px;
    width: 100%;
    display: block;
    position: relative;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    border-bottom: 2px solid #cccccc;
}
ul.seed>li{
    list-style: none;
    display: block;
    height: 100%;
    width: auto;
    float: left;
}
ul.seed>li a.theme{
    height: 40px;
    display: block;
    position: relative;
    padding: 10px 15px;
    margin: 0;
    text-decoration: none;
    font-family: "OpenSans";
    font-weight: 300;
    font-size: 14px;
    color: var(--themecolor);
}
ul.seed>li a.theme.active,
ul.seed>li>a.theme:hover{
    border-bottom: 2px solid var(--themeColor);
}
div.tabContent{
    padding: 10px 20px;
    height: auto;
    width: 100%;
    display: block;
}
div.tabContent>div{
   display: none;
}
div.tabContent>div.active{
    display: block;
}
p.date{
    height: 40px;
    width: 100%;
    background-color: rgb(235, 235, 228);
    outline: 1px solid #cccccc;
    padding: 7.5px 10px;
}
button#savePWD{
    background-color: #28a745;
}
button#editProfile.theme,
button#saveCensusYear.theme{
    background-color: var(--themeColor);
}
button#saveChanges,
button#saveColor{
    background-color: #28a745;
}
button#saveCensusYear,
button#saveColor{
    padding: 7.5px 15px;
}

.cameraIcon{
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 40px;
    width: 40px;
    display: block;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 5px;
}
.cameraIcon>input.theme{
    outline: none;
    border: none;
    padding: 0;
    margin: 0;  
    height: 40px;
    width: 100%;
    display: block;
    position: relative;
    border-radius: 5px;
}
.cameraIcon>input.theme::after{
    opacity: 1;;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    position: absolute;
    content: '\f030';
    font-family: 'Font-Awesome';
    font-size: 24px;
    text-align: center;
    padding-top: 2.5px;
    background-color: #ffffff;
    color: var(--themeColor);
    border-radius: 5px;
}


/* Profile Alerts */
div#usealerts{
    height: auto;
    width: 300px;
    padding: 12.5px 20px;
    margin: 15px auto;
    left: 0;
    right: 0;
    display: block;
    position: absolute;
    background-color: #d4edda;
    border-radius: 5px;
    text-align: center;
    top: -100px;
    transition: top 1s;
}
div#usealerts.active{
    top: 0;
}
div#usealerts>p#message{
    color: #ffffff;
}

/* Configure Page */
div.config{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
div.card{    
  position: relative;
  display: block;
  width: 45%;
  float: left;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 20px;
}
div.card:nth-child(even){
    margin-left: 35px;
}

@media screen and (max-width : 767px) {
    div.card {
        width: 100%;
        position: relative;
    }

    div.card:nth-child(even){
        margin-top: 20px;
        margin-left: 0px;
    }

    div.users-links {
        background-color: #cdcdcd;
    }
}